<div class="c-section">
  <h1 class="c-title c-title--large">Browse All Books</h1>
</div>
<div class="c-section">
  hey
  <% @books.each do |book| %>
  uhhh
  <div class="c-card u-margin-bottom-small">
      <div class="c-section">
        <h4 class="c-title"><%= book.title %></h4>
        <h4 class="c-title c-title--tiny">
          <%# book.authors.pluck(:name).join(", ") %>
        </h4>
        <!-- <div class="book--thumbnail"><%# image_tag book.book_cover %></div> -->
        <%= image_tag book.book_cover.variant(resize: "100x100") %>
        <%# image_tag(url_for(book.book_cover.variant(monochrome: true))) %>
           <!-- <h4 class="c-title c-title--tiny">By <%# book.authors.pluck(:name).join(", ") %></h4> -->
           <h4>$<%= book.price %></h4>

        <%= link_to "Learn More", book_path(book), class: "c-button c-button--small c-button--focal"%>
        </div>
      </div>
  <% end %>
</div>

 <%# %>
