<h1>All Books</h1>

<% @books.each do |book| %>
<div class="book--thumbnail"><%= image_tag book.avatar %></div>
<%# image_tag book.avatar.variant(resize: "100x100") %>
<%# image_tag(url_for(book.avatar.variant(monochrome: true))) %>
   <h2><%= book.title %></h2>
   <p>By SOMEONE<%# book.author %>
   <div><%= book.price %></p></div>
 <% end %>



 <%# %>
