<h1><%= current_user.name %></h1>
<p>Find me in app/views/profile/show.html.erb</p>
<%# image_tag current_user.avatar.variant(resize: "200x100") %>
<%# image_tag @cropped_avatar %>

<%# link_to "download #{current_user.name}'s Photo",
rails_blob_path(current_user.avatar, disposition: "attachment") %>
